*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vmin;
}

.wrapper{
    margin: auto;
    width: 65vmin;
    height: 90vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background: #293447;
}

.game_details{
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100vh;
    background:#212837 ;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food{
    background: rgb(203, 36, 36);
}

.play-board .head{
    background: rgb(108, 108, 193);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}


.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.controls i{
    padding: 25px 0;
    color: #b8c6dc;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .wrapper{
        margin: auto;
        width: 85vmin;
        height: 100vmin;
    }

    .game_details{
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls{
        border: 1px solid;
        display: flex;
        /* flex-direction: column; */
    }

    .controls i{
        padding: 15px 15px;
        font-size: 1rem;
    }
}
