*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 75vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background: #293447;
}

.game_details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    height: 10vh;
}

.play-board{
    width: 100%;
    height: 82vh;
    background:#212837 ;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food{
    background: rgb(203, 36, 36);
}

.play-board .head{
    background: rgb(108, 108, 193);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls i{
    display: flex;
    align-items: center;
    color: #b8c6dc;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    width: 100%;
    height: 8vh;
}

@media (max-width:500px) {
    .wrapper{
        width: 60vh;
        /* height: 100vh; */
    }

    .game_details{
        width: 100%;
        height: 33%;
        font-size: 1.5rem;
    }
    
}
